<footer class="absoftz-dark-bg">
    <div class="mi-invert-fix">
        <div class="container absoftz-p-120-60">
            <div class="row justify-content-between">
                <div class="col-md-4 col-lg-4 absoftz-mb-60">
                    <div class="absoftz-muted absoftz-logo absoftz-up absoftz-mb-30">BoardStories.</div>
                    <p class="absoftz-light-soft absoftz-up absoftz-mb-30">Subscribe our newsletter:</p>
                    <form class="absoftz-subscribe-form absoftz-up">
                        <input type="text" placeholder="Enter your email">
                        <button type="submit" class="absoftz-button absoftz-icon-button-sm absoftz-arrow-place"></button>
                    </form>
                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="col-md-6 col-lg-7">
                            <nav class="absoftz-footer-menu absoftz-mb-60">
                                <ul>
                                    <li class="absoftz-up"><a href="/">Home</a></li>
                                    <li class="absoftz-up"><a href="/portfolio">Portfolio</a></li>
                                    <li class="absoftz-up"><a href="/services">Services</a></li>
                                    <li class="absoftz-up"><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <ul class="absoftz-menu-list absoftz-up absoftz-mb-60">
                                <li><a href="#" class="absoftz-light-soft">Privacy Policy</a></li>
                                <li><a href="#" class="absoftz-light-soft">Terms and conditions</a></li>
                                <li><a href="#" class="absoftz-light-soft">Cookie Policy</a></li>
                                <li><a href="#" class="absoftz-light-soft">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between flex-sm-row-reverse">
                <div class="col-md-7 col-lg-6">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5 absoftz-mb-60">
                            <h6 class="absoftz-muted absoftz-up absoftz-mb-30">India</h6>
                            <p class="absoftz-light-soft absoftz-up">11th floor, AWFIS, Brigade metropolis, Garydacharpalya Bangalore, 560037 <span class="absoftz-no-wrap">+91 9611961446</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-6 absoftz-mb-60">
                    <div class="absoftz-vert-between">
                        <div class="absoftz-mb-30">
                            <ul class="absoftz-social-icons absoftz-up">
                                <li><a href="#" target="_blank" class="social-icon"><i class="far fa-circle"></i></a></li>
                                <li><a href="#" target="_blank" class="social-icon"><i class="far fa-circle"></i></a></li>
                                <li><a href="#" target="_blank" class="social-icon"><i class="far fa-circle"></i></a></li>
                                <li><a href="#" target="_blank" class="social-icon"><i class="far fa-circle"></i></a></li>
                            </ul>
                        </div>
                        <p class="absoftz-light-soft absoftz-up">© Copyright 2024 - BoardStories All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 