<!-- Header -->
<div class="absoftz-frame">
    <div class="absoftz-frame-top">
        <a href="/" class="absoftz-logo">
            <img src="./img/logo/Logo-h-black.svg" alt="" id="logo">
        </a>
        <div class="absoftz-menu-btn">
            <span></span>
        </div>
    </div>
    <div class="absoftz-frame-bottom">
        <div class="absoftz-current-page"></div>
        <div class="absoftz-back-to-top">
            <a href="#top" class="absoftz-link absoftz-dark absoftz-arrow-place">
                <span>Back to top</span>
            </a>
        </div>
    </div>
</div>

<!-- Menu -->
<div class="absoftz-menu-frame">
    <div class="absoftz-frame-top">
        <a href="/" class="absoftz-logo">
            <img src="./img/logo/Logo-h-white.png" alt="" style="max-width: 15vw;">
        </a>
        <div class="absoftz-menu-btn">
            <span></span>
        </div>
    </div>
    <div class="container">
        <div class="absoftz-menu-content">
            <div class="row">
                <div class="col-xl-5">
                    <nav class="absoftz-main-menu" id="swupMenu">
                        <ul>
                            <li class="absoftz-has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="absoftz-has-children">
                                <a href="/portfolio">Portfolio</a>
                                <ul>
                                    <li><a href="/portfolio/grid">Grid View</a></li>
                                    <li><a href="/portfolio/slider">Slider View</a></li>
                                </ul>
                            </li>
                            <li class="absoftz-has-children">
                                <a href="/services">Services</a>
                                <ul>
                                    <li><a href="/services/character-concept">Character Concept Art</a></li>
                                    <li><a href="/services/location-concept">Location Concept Art</a></li>
                                    <li><a href="/services/storyboard">Storyboard & Animatics</a></li>
                                    <li><a href="/services/motion-poster">Motion Poster</a></li>
                                    <li><a href="/services/title-design">Title Design</a></li>
                                    <li><a href="/services/vfx">VFX</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-7">
                    <div class="absoftz-menu-right-frame">
                        <div class="absoftz-animation-in">
                            <div class="absoftz-animation-frame">
                                <div class="absoftz-animation absoftz-position-1 absoftz-scale" data-value-1="2" data-value-2="2"></div>
                            </div>
                        </div>
                        <div class="absoftz-menu-right">
                            <div class="row">
                                <div class="col-lg-8 absoftz-mb-60">
                                    <h6 class="absoftz-muted absoftz-mb-30">Our Services</h6>
                                    <ul class="absoftz-menu-list">
                                        <li><a href="/services/character-concept" class="absoftz-light-soft">Character Concept Art</a></li>
                                        <li><a href="/services/location-concept" class="absoftz-light-soft">Location Concept Art</a></li>
                                        <li><a href="/services/storyboard" class="absoftz-light-soft">Storyboard & Animatics</a></li>
                                        <li><a href="/services/motion-poster" class="absoftz-light-soft">Motion Poster</a></li>
                                        <li><a href="/services/title-design" class="absoftz-light-soft">Title Design</a></li>
                                        <li><a href="/services/vfx" class="absoftz-light-soft">VFX</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="absoftz-divider absoftz-mb-60"></div>
                            <div class="row justify-content-between">
                                <div class="col-lg-4 absoftz-mb-60">
                                    <h6 class="absoftz-muted absoftz-mb-30">India</h6>
                                    <p class="absoftz-light-soft absoftz-up">11th floor, AWFIS, Brigade metropolis, Garydacharpalya Bangalore, 560037 <span class="absoftz-no-wrap">+91 9611961446</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 